[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
sqlalchemy = "*"
aioredis = "*"
psycopg2 = "*"
django = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
aiohttp = "*"
sentry-sdk = "*"
numpy = "*"
psutil = "*"
asyncpg = "*"
greenlet = "*"
uvloop = "*"

[dev-packages]

[requires]
python_version = "3.8"
